@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-content-center">
    <h1 class="display-4">Welcome to E-Commerce</h1>
    <button><a asp-controller="ECommerce" asp-action="Index">Shop Now</a></button>
</div>




